:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hero-btn-active: #188CE8;
    --secondary-bg-color: #2f303a;
    --primary-color: #ffffff;
    --logo-header-color: #000000;
    --portfolio-bg-btn-color: #F5F4FA;
    --examples-border: #eeeeee;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: rgb(205, 50, 166);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: var(--title-text-color);
}

.image {
    display: block;
    outline: 2px solid teal;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid tomato;
}


/* ----------HEADER----------- */
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header .logo {
    color: var(--logo-header-color);
}

.accent {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.site-nav .link {
    line-height: 1.14;
    font-weight: 500;
    color: var(--title-text-color);
}

.site-nav .link.curent {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact .link {
    font-weight: 500;
    color: var(--primary-text-color);
    text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

/* -----------HERO----------- */
.hero {
    text-align: center;
    background-color: var(--secondary-bg-color);
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.hero .button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: var(--hero-btn-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* -------------FEATURES------------- */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.subtitle {
    color: var(--title-text-color);
}

.features .subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text {
    line-height: 1.71;
}

/* -------OCCUPATION---------------- */
.occupation .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* -----------TEAM----------------- */
.section.team {
    background-color: var(--portfolio-bg-btn-color);
}

.team .image {
    margin-bottom: 30px;
}

.team .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-color);
}

.team .title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.team .subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team .text {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* -----------FOOTER-------------- */
.footer {
    padding-top: 60px;
    background-color: var(--secondary-bg-color);
}

.residence {
    padding-bottom: 60px;
    font-style: normal;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

.footer .location,
.footer .communication[href="mailto:info@devstudio.com"] {
    display: block;
    margin-bottom: 9px;
}

.location {
    line-height: 1.71;
    color: var(--primary-color);
}

.communication {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}


/* -----------Portfolio---------- */
.project .list {
    margin-bottom: 50px;
}

.project .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    border-radius: 4px;
    border: none;
    background-color: var(--portfolio-bg-btn-color);
    cursor: pointer;
}

.project .button:hover,
.project .button:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples>.item {
    text-decoration: none;
}

.examples .image {
    margin-bottom: 20px;
}

.examples .subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples .text {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}